nav {
  font-size: 2rem;
}
.icons {
  cursor: pointer;
  font-size: 1.5rem;
}

.spinner {
  font-size: 100px;
  text-align: center;
}

.card-header {
  font-size: 1.5rem;
}

.completed {
  text-decoration: line-through;
}

.deleted {
  display: none;
}

.background-color {
  background-color: #6665;
  min-height: 100%;
}

li {
  list-style-type: none;
}
