nav {
  font-size: 2rem;
}
.icons {
  cursor: pointer;
  font-size: 1.5rem;
}

.spinner {
  font-size: 100px;
  text-align: center;
}

.card-header {
  font-size: 1.5rem;
}

.completed {
  text-decoration: line-through;
}

.deleted {
  display: none;
}

.wrapper {
  background-color: #6665;
  background: linear-gradient(75deg, rgb(102, 102, 102), rgb(182, 185, 185));
}

li {
  list-style-type: none;
}
