<nav class="text-center text-white bg-danger py-3">
  <i class="fas fa-calendar-check mr-3"></i>My Todos
</nav>
<div class="wrapper background-color">
  <div class="container">
    <div class="row pt-3">
      <div class="col-md-12">
        <div class="icons mt-2 float-right">
          <i (click)="addTodo()" class="fas fa-plus add"></i>
          <i (click)="markAsDelete()" class="fas fa-trash-alt ml-3 del"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card mb-5">
          <div class="card-header text-center">Todays Tasks</div>
          <div class="card-body">
            <ul class="mt-4">
              <li
                *ngFor="let todo of todos"
                [ngClass]="{
                  completed: todo.isCompleted,
                  deleted: todo.isDeleted
                }"
                class="mt-2"
              >
                {{ todo.text }}
                <button
                  (click)="markAsComplete(todo.id)"
                  class="btn btn-danger btn-sm ml-2"
                >
                  X
                </button>
              </li>
            </ul>

            <div *ngIf="nonDeletedTodos.length === 0">
              <div class="text-center">
                <i class="far fa-smile fa-spin spinner mb-5 text-primary"></i>

                <h4>
                  You have no tasks to complete!
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
