nav {
  font-size: 2rem;
}
.icons {
  cursor: pointer;
  font-size: 1.5rem;
}

.card-header {
  font-size: 1.5rem;
}

.completed {
  text-decoration: line-through;
}

.no-todos {
  display: none;
}

li {
  list-style-type: none;
}
